body
{
  background-color: black;
  color:white;
}
.demos {
display: flex;
flex-direction: column;
gap: 1.5rem;
}
.demo-item {
display: flex;
align-items: center;
justify-content: space-between;
gap: 1rem;
}
.releases
{
 margin-left:50px; 
}
hr 
{
  border: none;
  border-top: 3px dashed var(--pico-muted-border-color);
  margin: 1.5rem 0;
  opacity: 1;
}
